body {
    background-color: white;
    background-repeat: no-repeat;
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: absolute;
    margin: auto;
    top: 2%;
    left: 5%;
    right: 5%;
    width: 50%;
    max-width: 800px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
}

.navigation{
    overflow: hidden;
}

.navigation a{
    float: left;
    display: block;
    padding: 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    text-decoration: none;
}

.navigation a:hover{
    color: #000000;
    text-decoration: underline;
}

img{
    max-width:100%;
    max-height:100%;
}